<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Yelp Data Reivew For {{ business[1] }}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{ url_for('static', filename='css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plugins/timeline/timeline.css') }}" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Yelp Data Reivew For {{ business[1] }}</a>
            </div>
        </nav>

        <div id="page-wrapper" class="container content">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Review Ratings Over Time
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Checkins
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Day-Time</th>
                                                    <th>Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for checkin in checkins %}
                                                <tr>
                                                    <td>{{ checkin[1] }}</td>
                                                    <td>{{ checkin[2] }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                                <div class="col-lg-12">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Competition winthin 10 miles
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Stars</th>
                                                    <th>Review Count</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for comp_business in competition %}
                                                {% if business[0] == comp_business[0] %}
                                                <tr class="success">
                                                {% else %}
                                                <tr>
                                                {% endif %}
                                                    <td>{{ comp_business[1] }}</td>
                                                    <td>{{ comp_business[4] }}</td>
                                                    <td>{{ comp_business[5] }}</td>
                                                    <td>{{ comp_business[6] }}</td>
                                                    <td>{{ comp_business[7] }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="{{ url_for('static', filename='js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/morris/morris.js') }}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/sb-admin.js') }}"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <!--<script src="{{ url_for('static', filename='js/demo/dashboard-demo.js') }}"></script> -->
    <script language="javascript" type="text/javascript">
    $(function() {

    Morris.Area({
        element: 'morris-area-chart',
        data: [
            {% for review in reviews %}
            {
            date: '{{ review[4] }}',
            stars: {{ review[3] }},
            },
            {% endfor %}
            ],
        xkey: 'date',
        ykeys: ['stars'],
        labels: ['Stars'],
        pointSize: 2,
        hideHover: 'auto',
        resize: true
    });
         Morris.Bar({
        element: 'morris-bar-chart',
        data: [
            {% for checkin in checkins %}
            {
            y: '{{ checkin[1] }}',
            count: {{checkin[2] }},
            },
            {% endfor %}
        ],
        xkey: 'y',
        ykeys: ['count'],
        labels: ['Count'],
        hideHover: 'auto',
        resize: true
    });
});
        
    </script>

</body>

</html>
